:root {
  --background: #202020;
  --text: white;
  --duration-color: #B0B0B0;
  --tooltip-background: #00000060;
  --accent: #21A502;
  --shaded: #101010E0;
  --link-color: #60D0FF;
  --list-background: #00000040;
  --content-max-width: 800px;
}

.light {
  --background: white;
  --text: black;
  --duration-color: #505050;
  --tooltip-background: #FFFFFF60;
  --accent: #4cd42b;
  --shaded: #E0E0E0E0;
  --link-color: #0060E0;
  --list-background: #F0F0F0;
}

html, body, #root {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14pt;
  font-family: ubuntu, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#content {
  width: min(90%, 800px);
  padding: 20px;
}

input, textarea, button, select, .fake-button {
  all: unset;
  box-sizing: border-box;
  background-color: var(--shaded);
  border-style: none;
  padding: 5px;
  transition: box-shadow 0.05s;
}

input, textarea {
  min-width: 2em;
  width: 100%;
  padding: 10px;
}

::placeholder {
  color: var(--text);
  opacity: 0.4;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0.3em 0 var(--accent);
}

h1 {
  color: var(--accent);
  margin-bottom: 6px;
  font-size: 24pt;
}

h2 {
  color: var(--text);
  margin-bottom: 6px;
  margin-top: 12px;
  font-size: 20pt;
}

p {
  margin: 10px 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

li {
  margin-bottom: 0.5em;
}

button, .fake-button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.05s;
}

.h-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 0;
  gap: 12px;
}

.tab-selector {
  display: flex;
  align-items: stretch;
  flex-grow: 0;
  gap: 0;
}

.tab-selector > * {
  flex: 1 1 0px;
}

.tab-selector > .selected {
  background-color: var(--accent);
}

p.selected {
  color: var(--accent);
}

.v-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  flex-grow: 1;
}

.responsive-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 12px;
}

.button-icon {
  height: 1em;
}

.light .themed-icon {
  filter: invert();
}

button.active img {
  filter: sepia(100%) saturate(30) invert(1) hue-rotate(-40deg) brightness(170%);
}

.light button.active img {
  filter: sepia(100%) saturate(30) invert(1) hue-rotate(-40deg) brightness(170%);
}

.shaded-box {
  background-color: var(--list-background);
  gap: 0;
}

.expansion-label {
  cursor: pointer;
  user-select: none;
  margin: 0;
  padding: 20px;
}

.expansion-body {
  display: none;
  padding: 20px;
  padding-top: 0;
}

.expanded > .expansion-body {
  display: block;
}

.expanded > .expansion-label > .expansion-icon {
  transform: rotate(90deg);
}

.top-right-div {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  gap: 6px;
}

#share-link-public-warning {
  text-align: center;
  margin: 0;
}

#share-link-list-div {
  padding: 0px;
  gap: 12px;
}

#share-link-list-div.has-children {
  padding-top: 10px;
  padding-bottom: 10px;
}

#share-link-list-item {
  padding-left: 10px;
  padding-right: 10px;
}

#share-link-label-div {
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
}

.error {
  color: red;
}

.popup-container {
  background-color: var(--shaded);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: start;
  justify-content: center;
  z-index: 100;
}

.popup {
  position: sticky;
  top: 150px;
  padding: 10px 20px;
  padding-top: 0;
  max-width: 26em;
  margin: 30px;
  background-color: var(--background);
  border-radius: 1em;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.map-tiles {
  filter: invert(1) hue-rotate(215deg) grayscale(0.7) brightness(1.2);
}

.light .map-tiles {
  filter: unset;
}

.self-marker {
  filter: hue-rotate(100deg);
}

.leaflet-tooltip-right.leaflet-tooltip {
  color: var(--text);
  background-color: var(--tooltip-background);
  border: none;
  border-bottom: 2px solid #68ff88;
  border-radius: 0;
  box-shadow: none;
  margin-left: 3px;
  margin-top: -2px;
  padding: 4px 7px;
}

.leaflet-tooltip-right.leaflet-tooltip::before {
  content: none;
}

.leaflet-tooltip-right.self-tooltip {
  border-color: #40C0ff;
}

.leaflet-control-attribution {
  background-color: transparent !important;
  color: var(--text) !important;
}

.duration {
  color: var(--duration-color);
}

.leaflet-container {
  background-color: var(--background) !important;
}
